<div class="row footer-bar">
  <div class="container footer-area">
    <div class="row">
      <h4 class="footer-title">&copy; 2017 Australia. All right reserved</h4>
      <img class="footer-logo" src='assets/images/footer-logo.png'>
    </div>
  </div>
</div>