<div class="row top-bar">
  <div class="col-xs-4">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div class="col-xs-4">
    <img src="../assets/images/logo.png" class="logo-img img-responsive">
  </div>
  <div class="col-xs-4">
    <img src="../assets/images/avatar.png" class="avatar img-circle" alt="avatar">
    <h4 class="avatar-title">HI MR BURNS!</h4>
  </div>
</div>
<div class="row sub-menu">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="page-title">{{pageTitle}}</h4>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subMenuBar">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>                    
        </button>
      </div>
      <div class="collapse navbar-collapse" id="subMenuBar">
        <ul class="nav navbar-nav">
          <li><a routerLink="rosters" class="sub-menu-item" (click)="changePage('MY ROSTERS')">MY ROSTERS</a></li>
          <li><a routerLink="rostering" class="sub-menu-item" (click)="changePage('ROSTERING')">ROSTERING</a></li>
          <li><a routerLink="employees" class="sub-menu-item" (click)="changePage('EMPLOYEES')">EMPLOYEES</a></li>
          <li><a routerLink="todolist" class="sub-menu-item" (click)="changePage('TO DO LIST')">TO DO LIST</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
