<div class="container for_reset_pass">
        <div class="logos">
            <img src="../assets/images/logo1.png">
            <img src="../assets/images/logo2.png">
            <img src="../assets/images/logo3.png">
        </div>
        <div class="create_acc">
            <form>
                <div class="create_account_title">Create your H&L Cloud Account</div>
                <div class="col-xs-12 line1">
                    <div class="col-sm-6 col-xs-12 pd_right7">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/user-icon2.png">
                                <input id="first_name" type="text" class="form-control" name="first_name" placeholder="First Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 pd_left7">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/user-icon2.png">
                                <input id="last_name" type="text" class="form-control" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 line2">
                    <div class="col-sm-6 col-xs-12 pd_right7">
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/mobile-icon.png">
                                <input id="mobile" type="text" class="form-control" name="mobile" placeholder="Mobile">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 pd_left7 email-box">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/email-icon.png">
                                <input id="email" type="email" class="form-control" name="emal" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 line2">
                    <div class="hr"></div>
                    <div class="mobile-pass_require">Your password must be at least 6 characters.</div> 
                    <div class="col-sm-6 col-xs-12 pd_right7">
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/password-icon.png">
                                <input id="pwd" type="password" class="form-control" name="pwd" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 pd_left7">
                        <div class="form-group">
                            <label for="confirm_pass">Confirm Password</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/password-icon.png">
                                <input id="confirm_pass" type="password" class="form-control" name="confirm_pass" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pass_require">Your password must be at least 6 characters.</div> 
                <div class="submit_btn">
                    <a routerLink="/accountcreated" type="submit" class="btn pull-right next-btn">NEXT STEP - BUSINESS DETAILS</a>
                    <div class="pull-left">Aleady have a cloud account?<a href="#"> Click here</a> to sign in.</div>
                </div>
            </form>
        </div>
    </div>