<div class="container-fluid login-background">
    <div class="login-form">
        <img class="account" src="../assets/images/account.png">
        <form class="form-panel">
            <div class="">
                <h6 class="title">Enter email address for your account</h6>
            </div>
            <div class="form-group">
                <img src="../assets/images/login-password.png">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
            </div>
            <div class="button-group">
                <a type="button" class="cancel-btn pull-left">CANCEL</a>
                <a routerLink="/resetlink" type="button" class="btn btn-primary reset-btn pull-right">RESET PASSWORD</a>
            </div>
        </form>
        <img class="hllogo" src="../assets/images/hllogo.png">
    </div>
</div>