    <div class="container for_reset_pass">
        <div class="logos">
            <img src="../assets/images/logo1.png">
            <img src="../assets/images/logo2.png">
            <img src="../assets/images/logo3.png">
        </div>
        <div class="business_detail">
            <form>
                <div class="create_account_title">Business Details</div>
                <div class="col-xs-12 line1">
                    <div class="form-group padding15">
                        <label for="payroll">Payroll Group/Business</label>
                        <div class="input-group">
                            <img class="pass-png" src="../assets/images/user-icon.png">
                            <input id="payroll" type="text" class="form-control" name="payroll" placeholder="Payroll Group/Business">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 line2">
                    <div class="business_address mg_left15 pd_right7 float_left">
                        <div class="form-group">
                            <label for="payroll">Payroll Group/Business</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/location-icon.png">
                                <input id="payroll" type="text" class="form-control" name="payroll" placeholder="Payroll Group/Business">
                            </div>
                        </div>
                    </div>
                    <div class="suburb pd_left7 pd_right7 float_left">
                        <div class="form-group">
                            <label for="suburb">Suburb</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/location-icon.png">
                                <input id="suburb" type="text" class="form-control" name="suburb" placeholder="Suburb">
                            </div>
                        </div>
                    </div>
                    <div class="postcode pd_left7 pd_right7 float_left">
                        <div class="form-group">
                            <label for="postcode">Postcode</label>
                            <div class="input-group">
                                <input id="postcode" type="text" class="form-control" name="postcode" placeholder="Postcode">
                            </div>
                        </div>
                    </div>
                    <div class="state pd_left7 float_left">
                        <div class="form-group">
                            <label for="state">State</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/location-icon.png">
                                <select class="form-control" name="state">
                                  <option>Select State</option>
                                  <option>ACT</option>
                                  <option>NSW</option>
                                  <option>NT</option>
                                  <option>SA</option>
                                  <option>TAS</option>
                                  <option>VIC</option>
                                  <option>QLD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 line2">
                    <div class="col-sm-6 col-xs-12 pd_right7">
                        <div class="form-group">
                            <label for="contact_name">Contact Name</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/user-icon2.png">
                                <input id="contact_name" type="text" class="form-control" name="contact_name" placeholder="Contact Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 pd_left7">
                        <div class="form-group">
                            <label for="contact_number">Contact Number</label>
                            <div class="input-group">
                                <img class="pass-png" src="../assets/images/mobile-icon.png">
                                <input id="contact_number" type="text" class="form-control" name="contact_number" placeholder="Contact Number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 line1">
                    <div class="form-group padding15">
                        <label for="contact_email">Contact Email</label>
                        <div class="input-group">
                            <img class="pass-png" src="../assets/images/email-icon.png">
                            <input id="contact_email" type="text" class="form-control" name="contact_email" placeholder="Contact Email">
                        </div>
                    </div>
                </div>
                <div class="submit_btn">
                    <a routerLink="/login" type="submit" class="btn pull-right">COMPLETE SIGN UP</a>
                </div>
            </form>
        </div>
    </div>