<div class="container">
  <div class="row filter-bar">
    <label>Order by:</label>
    <select class="selectpicker">
      <option>SELECT ORDER</option>
      <option>Filter1</option>
      <option>Filter2</option>
      <option>Filter3</option>
    </select>
    <label>Display Employees: </label>
    <select class="selectpicker">
      <option>ALL</option>
      <option>Filter1</option>
      <option>Filter2</option>
      <option>Filter3</option>
    </select>
  </div>
  <div class="row export-csv-bar">
    <h5>EMPLOYEES</h5>
    <button class="btn btn-primary">EXPORT CSV</button>
  </div>
  <div class="row data-table">
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Payroll ID</th>
          <th>Site</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Employment Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of getEmployees();">
          <td>{{employee.name}}</td>
          <td>{{employee.id}}</td>
          <td>{{employee.site}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.mobile}}</td>
          <td>{{employee.status}}</td>
          <td><img *ngIf="employee.other;else other" src="../assets/images/check-circle.png"></td>
        </tr>
      </tbody>
    </table>
    <ng-template #other>
      <a tabindex="0" data-toggle="popover" data-html="true" data-content="<h4>Reinvite employee</h4><button class='btn btn-primary' (click)='sendInvite()'>Send Invite</button>"><img src="../assets/images/info-circle.png"></a>
    </ng-template>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let employee of getEmployees();let i = index">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{i}}">
            <div class="row">
              <div class="col-xs-4">{{employee.name}}</div>
              <div class="col-xs-4">{{employee.mobile}}</div>
              <div class="col-xs-3">{{employee.status}}</div>
              <div cass="col-xs-1"><img *ngIf="employee.other;else other" src="../assets/images/check-circle.png"></div>
            </div>
          </a>
        </h4>
      </div>
      <div id="{{i}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">Payroll ID:</div>
            <div class="col-xs-9">{{employee.id}}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Site:</div>
            <div class="col-xs-9">{{employee.site}}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Email:</div>
            <div class="col-xs-9">{{employee.email}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary mobile-export-button">EXPORT</button>
    </div>
  </div>
  <div class="row pagenation-bar">
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="getPreviousPage()"><</button>
      <button type="button" class="btn btn-default" (click)="getNextPage()">></button>
    </div>
    <h5 class="page-title">page {{pageIndex}} of {{totalCount}}</h5>
  </div>
</div>


