.login-background{
    padding:0!important;
    margin:0 -15px!important;
    background-image: url('../../assets/images/loginback.png');
    background-size:1920px 100vh;
    background-repeat: no-repeat;
    height:100vh;
}
.form-panel{
    width:362px;
    height:284px;
    background-color:white;
    padding:25px 25px 30px 25px;
    border-radius: 5px;
    margin:50px auto 30px auto;
}
.form-panel h2{
    font-family: 'Lato';
    font-size: 19px;
    font-weight: 300;
    margin-top:0;
}
.form-panel h6{
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 400;
    margin-top:55px;
    color:#666;
    letter-spacing: 0px;
    line-height: 15px;
}
.form-panel .got-it-btn{
    font-family: 'Lato';
    font-size: 11px;
    font-weight: bold;
    width:100%;
    height:40px;
    border-radius: 20px;
    padding:0;
    line-height: 40px;
    margin-top:55px;
}
.login-form{
    text-align: center;
    position: absolute;
    left:0;
    right:0;
    top:50%;
    margin-top:-244px;
}
.account{
    width:323px;
    height:92px;
}
.hllogo{
    width:69px;
    height:27px;
}
@media screen and (max-width:750px){
    .login-background{
        padding:0!important;
        margin:0 -15px!important;
        background-image: url('../../assets/images/mobile-background.png');
        background-size:100% 100vh;
        background-repeat:no-repeat;
    }
    .hllogo{
        position: fixed;
        left:20px;
        top:20px;
        width:18.132vw;
        height:7.2vw;
    }
    .account{
        max-width:555px;
        width:80%;
        height:auto;
    }
    .login-form{
        padding:0 15px;
        position: relative;
        margin-top: 22vw;
        top:initial;
    }
    .login-form form{
        margin-top:20.8vw;
    }
    .form-panel{
        max-width:722px;
        max-height:556px;
        width:100%;
        height:auto;
        overflow: hidden;
        padding: 10vw 10vw;
    }
    .form-panel h2{
        font-family: 'Lato';
        font-size: 5.06vw;
        font-weight: 300;
        margin-top:0;
    }
    .form-panel h6{
        font-family: 'Lato';
        font-size: 3.46vw;
        font-weight: 400;
        margin-top:15vw;
        color:#666;
        letter-spacing: 0px;
        line-height: 4vw;
    }
    .form-panel .got-it-btn{
        font-family: 'Lato';
        font-size: 2.933vw;
        font-weight: bold;
        width:100%;
        height:10.6667vw;
        border-radius: 5.4vw;
        padding:0;
        line-height: 10.6667vw;
        margin-top:18.6vw;
    }

}