<div class="container-fluid login-background">
  <div class="login-form">
      <img class="account" src="../assets/images/account.png">
      <div class="form-panel">
        <h2>We've emailed you a link</h2>
        <h6>
          Check your xxxx@xxx.com.au email account.<br>
          We have emailed you a link to reset your password.<br>
          If it is not in your inbox please check your spam filter.
        </h6>
        <a routerLink="/login" type="button" class="btn btn-primary got-it-btn">GOT IT</a>
      </div>
      <img class="hllogo" src="../assets/images/hllogo.png">
    
  </div>
</div>