<div class="container">
  <div class="profile-photo">
    <img src="../assets/images/avata-bg.png">
    <img class="edit-btn" src="../assets/images/edit.png">
  </div>
  <div class="edit-form">
    <div class="greeting">Hi, Matt Freeman</div>
    <form>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <img src="../assets/images/user-icon2.png">
          <input type="text" class="form-control" id="firstName" placeholder="Matt">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <img src="../assets/images/user-icon2.png">
          <input type="text" class="form-control" id="lastName" placeholder="Freeman">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <img src="../assets/images/mobile-icon.png">
          <input type="text" class="form-control" id="mobile" placeholder="0438 122 789">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="email">Email</label>
          <img src="../assets/images/email-icon.png">
          <input type="email" class="form-control" id="email" placeholder="mattf@hlaustralia.com.au">
        </div>
      </div>
      <div class="col-xs-6">
        <img class="pull-left" src="../assets/images/lock-icon.png">
        <div class="change-title pull-left">
          <a>Change my Password</a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="save-btn pull-right">
          <a class="btn btn-primary">SAVE CHANGES</a>
        </div>
        <div class="cancel-btn pull-right">
          CANCEL
        </div>
      </div>
    </form>

  </div>
</div>