.profile-photo{
    position: relative;
    text-align: center;
    margin-top:50px;
}
.profile-photo .edit-btn{
    position: absolute;
    top:0;
    margin-left: -20px;
}
.edit-form{
    width:794px;
    margin: 0 auto;
    margin-top:20px;
}
.edit-form .greeting{
    font-family: 'Lato';
    font-size:21px;
    font-weight: 700;
}
.edit-form form{
    margin-top:25px;
    width:794px;
    height:235px;
    background-color:white;
    border-radius: 10px;
    padding-top:20px;
}
.form-group{
    position:relative;
}
.form-group input{
    padding-left:30px;
    height:40px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 400;
    background-color:#f8f8f8;
}
.form-group label{
    font-family: 'Lato', sans-serif;
    font-size:13px;
    font-weight: 700;
}
.form-group img{
    position:absolute;
    left:5px;
    bottom:8px;
}
.change-title{
    margin-left:7px;
    font-family: 'Lato';
    font-weight: 400;
    font-size:13px;
    cursor: pointer;

}
.cancel-btn{
    font-family: 'Lato';
    font-weight: 700;
    font-size:11px;
    height:40px;
    line-height: 40px;
    margin-right:25px;
}
.save-btn a{
    font-family: 'Lato';
    font-weight: 700;
    font-size:11px;
    width:230px;
    height:40px;
    padding:0;
    line-height: 40px;
    border-radius: 20px;
    outline: 0;

}